header {
    text-align:left;
    font-size: 90px;
    padding-left: 210px;
    margin:0;
    color:#0a3871;
}

body {
    background: #F3F5FC;
}

#letra{
    
    font-size: 16px;
    /* background:red; */
    color: green;
     
    float: buttom;
    /* text-decoration: underline  black; */

}

#frase{
    font-size: 16px;
    text-decoration-line:none;
    float: buttom;
}

#hombre {
    max-width: 100%;
    max-height: 100%;
    width: 16.75rem;
    height:16.75rem;
    border:solid 1px #777 ;
    background-image: white;
    display: inline-block;
}

#home::after{
    content:"Hombre ahorcado";
}

#dibujarHombre{
    width: 50vw;
    text-align: center;
    margin-top:5rem;
    margin-bottom: 5rem;
}